doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title #{__('TITLE', community)}
    link(href="css/style.css", rel="stylesheet", type="text/css")
  body
    main
      section.header
        figure.gopher
          img(src="images/go-gopher.png", alt="Gopher, Mascote do Go")
        h1= message
        h2= error.status
        pre #{error.stack}
