doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title #{__('TITLE', community)}
    link(href="css/style.css", rel="stylesheet", type="text/css")
    link(href="//fonts.googleapis.com/css?family=Lato:300,400,700,900,700italic|Open+Sans:700italic,400,600,300,700,800", rel="stylesheet", type="text/css")
  body.uikit-body.uikit-grid
    .container
      .grids.col-md-6
        header.join-slack-header
          h1.uikit-display-6
            strong #{community}
          p #{__('HEADER', community)}
        main
          form(method="POST", action="/join-slack/invite").email-submission-form
            label(for="slack-email").uikit-text-input__label.uikit-display-1 Email
            input(type="email", name="email", autofocus, placeholder="#{__('ENTER_EMAIL')}")#slack-email.uikit-text-input
            if tokenRequired
              input(type="text", name="token", placeholder="#{__('ENTER_TOKEN')}")#slack-token.uikit-text-input
            input(type="submit", value="Join").submit.uikit-btn
        footer.disclaimer
          h2.uikit-display-1 #{__('DISCLAIMER', community)}
          p The GOV.AU guides slack was set up by the Australian Government Digital Transformation Agency as a place to get updates, ask for help and suggest stuff for our products, including UI-Kit.
          p Conversations in this slack do not necessarily represent the views or opinions of the DTA or the Australian Government.
    script.
      var tokenRequired = #{tokenRequired};
      var form = document.getElementById('join-form');
      var email = document.getElementById('slack-email');
      var token = document.getElementById('slack-token');
      form.addEventListener('submit', function(evt) {
        if (!email.value) {
          evt.preventDefault();
        }
        if (tokenRequired && !token.value) {
          evt.preventDefault();
        }
      });
