doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title #{__('TITLE', community)}
    link(href="css/style.css", rel="stylesheet", type="text/css")
  body  
    main
      section.header
        figure.gopher
          img(src="images/go-gopher.png", alt="Gopher, Mascote do Go")
        h1 #{community}
        h2 #{__('HEADER', community)}
      section.content
        .information
          form(method="POST", action="/invite")#join-form.form
            input(type="text", name="email", placeholder="#{__('ENTER_EMAIL')}")#slack-email.field
            if tokenRequired
              input(type="text", name="token", placeholder="#{__('ENTER_TOKEN')}")#slack-token.field
            input(type="submit", value="Join Floripa Gophers").submit
    script.
      var tokenRequired = #{tokenRequired};
      var form = document.getElementById('join-form');
      var email = document.getElementById('slack-email');
      var token = document.getElementById('slack-token');
      form.addEventListener('submit', function(evt) {
        if (!email.value) {
          evt.preventDefault();
        }
        if (tokenRequired && !token.value) {
          evt.preventDefault();
        }
      });
