doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title #{__('TITLE', community)}
    link(href="css/style.css", rel="stylesheet", type="text/css")
    link(href="//fonts.googleapis.com/css?family=Lato:300,400,700,900,700italic|Open+Sans:700italic,400,600,300,700,800", rel="stylesheet", type="text/css")
  body.uikit-body.uikit-grid
    .container
      .grids.col-md-6
        header.join-slack-header
          h1.uikit-display-6
            strong #{community}
        main
          .uikit-page-alerts(class="#{isFailed?'uikit-page-alerts--error':'uikit-page-alerts--success'}")
            p !{message}
          a(href="/join-slack") Back to email submission page
